<div class="cart-container">

    <h1>Shopping Cart</h1>
    <div *ngIf="cartItems.length === 0" class="empty-cart">

        <h2>🛒 Your cart is empty</h2>

        <p>Add some products to get started.</p>

        <a routerLink="/">
            Continue Shopping
        </a>

    </div>

    <div *ngIf="cartItems.length > 0">

        <div class="cart-item" *ngFor="let item of cartItems">

            <div class="item-details">

                <h3>{{ item.name }}</h3>

                <p>₹{{ item.price }}</p>

                <div class="quantity-controls">

                    <button (click)="decrease(item.id)">
                        -
                    </button>

                    <span>
                        {{ item.quantity }}
                    </span>

                    <button (click)="increase(item.id)">
                        +
                    </button>

                </div>

            </div>

            <button (click)="removeItem(item.id)">
                Remove
            </button>

        </div>

        <div class="cart-summary">

            <h3>Subtotal: ₹{{ total }}</h3>

            <p>Delivery: Free</p>

            <p>Discount: ₹0</p>

            <hr>

            <h2>Total: ₹{{ total }}</h2>

            <button class="checkout-btn"
                routerLink="/checkout">
                Proceed to Checkout
            </button>

        </div>

    </div>



</div>