<div class="checkout-container">

    <h1>Checkout</h1>

    <div class="checkout-grid">

        <!-- Checkout Form -->

        <form [formGroup]="checkoutForm" (ngSubmit)="placeOrder()">

            <input type="text" placeholder="Full Name" formControlName="name">
            <small class="error" *ngIf="checkoutForm.get('name')?.touched &&

              checkoutForm.get('name')?.invalid">

                Full Name is required.

            </small>

            <input type="email" placeholder="Email" formControlName="email">
            <small class="error" *ngIf="checkoutForm.get('email')?.touched &&

              checkoutForm.get('email')?.errors?.['required']">

                Email is required.

            </small>

            <small class="error" *ngIf="checkoutForm.get('email')?.touched &&

              checkoutForm.get('email')?.errors?.['email']">

                Please enter a valid email.

            </small>
            <input type="tel" placeholder="Phone Number" formControlName="phone">

            <small class="error" *ngIf="
    checkoutForm.get('phone')?.touched &&
    checkoutForm.get('phone')?.invalid">

                Enter valid 10 digit phone number.

            </small>

            <textarea rows="4" placeholder="Address" formControlName="address">
            </textarea>
            <small class="error" *ngIf="checkoutForm.get('address')?.touched &&

              checkoutForm.get('address')?.invalid">

                Address is required.

            </small>

            <input type="text" placeholder="City" formControlName="city">

            <small class="error" *ngIf="checkoutForm.get('city')?.touched &&
           checkoutForm.get('city')?.invalid">

                City is required.

            </small>

            <input type="text" placeholder="State" formControlName="state">

            <small class="error" *ngIf="checkoutForm.get('state')?.touched &&
           checkoutForm.get('state')?.invalid">

                State is required.

            </small>

            <input type="text" placeholder="Pincode" formControlName="pincode">

            <small class="error" *ngIf="checkoutForm.get('pincode')?.touched &&
           checkoutForm.get('pincode')?.invalid">

                Enter a valid 6 digit pincode.

            </small>

            <label class="payment-label">
                Payment Method
            </label>

            <select formControlName="paymentMethod">

                <option value="COD">
                    Cash on Delivery (COD)
                </option>

                <option value="ONLINE">
                    Pay Online (Razorpay)
                </option>

            </select>

            <small class="payment-note" *ngIf="paymentMethod === 'ONLINE'">

                You can pay securely using UPI, Credit Card, Debit Card,
                Net Banking or Wallet after clicking <strong>Place Order</strong>.

            </small>




            <button type="submit" [disabled]="isPlacingOrder">

                {{ isPlacingOrder ? 'Placing Order...' : 'Place Order' }}

            </button>

        </form>

        <!-- Order Summary -->

        <div class="order-summary">

            <h2>Order Summary</h2>

            <div class="summary-row">

                <span>Subtotal</span>

                <span>₹{{ subtotal }}</span>

            </div>

            <div class="summary-row">

                <span>Shipping</span>

                <span>₹{{ shipping }}</span>

            </div>
            <p class="free-shipping" *ngIf="subtotal < 1999">

                Add ₹{{1999-subtotal}}
                more for FREE SHIPPING.

            </p>

            <div class="summary-row">

                <span>GST (18%)</span>

                <span>₹{{ gst }}</span>

            </div>

            <div class="coupon-section">

                <input type="text" placeholder="Enter Coupon Code" [(ngModel)]="couponCode">

                <button type="button" (click)="applyCoupon()">

                    Apply

                </button>

            </div>

            <div class="summary-row discount" *ngIf="discount > 0">

                <span>

                    Discount ({{ discount }}%)

                </span>

                <span>

                    -₹{{ discountAmount }}

                </span>

            </div>

            <hr>

            <div class="summary-products">

                <div class="summary-item" *ngFor="let item of cartItems">

                    <span>
                        {{ item.name }}
                        × {{ item.quantity }}
                    </span>

                    <span>
                        ₹{{ item.price * item.quantity }}
                    </span>

                </div>

            </div>

            <div class="summary-row total">

                <span>Grand Total</span>

                <span>₹{{ grandTotal }}</span>

            </div>

        </div>

    </div>



    <!-- Success Message -->

    <div class="success-overlay" *ngIf="orderPlaced">

        <div class="success-popup">

            <div class="success-icon">

                ✅

            </div>

            <h2>

                Order Placed Successfully!

            </h2>

            <p>

                Thank you for shopping with Triangle Sports.

            </p>

            <p>

                Order ID:
                <strong>{{ generatedOrderId }}</strong>

            </p>

            <div class="popup-actions">

                <a class="popup-btn" (click)="continueShopping()">
                    Continue Shopping
                </a>

                <a routerLink="/orders" class="popup-btn secondary">

                    View Orders

                </a>

            </div>

        </div>

    </div>

</div>