<nav class="navbar" [class.scrolled]="isScrolled">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap" rel="stylesheet">
  <!-- Logo -->

  <div class="logo" routerLink="/">
    <img src="trianglepng.png" alt="Triangle Sports">
  </div>

  <!-- Mobile Hamburger -->

  <div class="hamburger" (click)="toggleMenu()">
    ☰
  </div>

  <!-- Center Menu -->

  <ul class="nav-menu" [class.active]="isMenuOpen">



    <li class="dropdown">

      MEN <span class="arrow">▾</span>

      <div class="mega-menu">

        <div class="mega-column">

          <h4>Topwear</h4>

          <a routerLink="/shop">T-Shirts</a>
          <a routerLink="/shop">Uppers</a>
          <a routerLink="/shop">Compressions</a>

        </div>

        <div class="mega-column">

          <h4>Bottomwear</h4>

          <a routerLink="/shop">Shorts</a>
          <a routerLink="/shop">Track Pants</a>
         

        </div>

        <div class="mega-column">

          <h4>Shop By Sport</h4>

          <a routerLink="/shop">Cricket</a>
          <a routerLink="/shop">Gym</a>
          <a routerLink="/shop">Running</a>

        </div>

      </div>

    </li>
    <li class="dropdown">

      WOMEN <span class="arrow">▾</span>

      <div class="mega-menu">

        <div class="mega-column">

          <h4>Topwear</h4>

          <a routerLink="/shop">T-Shirts</a>
          <a routerLink="/shop">Uppers</a>
          <a routerLink="/shop">Compressions</a>

        </div>

        <div class="mega-column">

          <h4>Bottomwear</h4>

          <a routerLink="/shop">Shorts</a>
          <a routerLink="/shop">Track Pants</a>
          

        </div>

        <div class="mega-column">

          <h4>Shop By Sport</h4>

          <a routerLink="/shop">Cricket</a>
          <a routerLink="/shop">Gym</a>
          <a routerLink="/shop">Running</a>

        </div>

      </div>

    </li>
    <li class="dropdown">

      ACCESSORIES <span class="arrow">▾</span>

      <div class="mega-menu">

        <div class="mega-column">

          <h4>Performance</h4>

         
          <a routerLink="/shop">Arm Sleeves</a>
          <a routerLink="/shop">Wrist Bands</a>

        </div>

        <div class="mega-column">

          <h4>Training Gear</h4>

          <a routerLink="/shop">Gym Gloves</a>
          <a routerLink="/shop">Head Bands</a>
          <a routerLink="/shop">Sports Socks</a>

        </div>

        <div class="mega-column">

          <h4>Essentials</h4>

          <a routerLink="/shop">Caps</a>
          <a routerLink="/shop">Water Bottles</a>
          <a routerLink="/shop">Gym Bags</a>

        </div>
        <div class="mega-column">

          <h4>Custom Orders</h4>

          <a routerLink="/request-quote">Corporate Tshirts & Caps</a>
          <a routerLink="/request-quote">Tournament Jerseys</a>
          <a routerLink="/request-quote">Bulk Orders</a>

        </div>

      </div>

    </li>

    <li routerLink="/team-kit-designer">
      DESIGN YOUR OWN
    </li>

  </ul>

  <!-- Right Icons -->

  <div class="nav-icons">

    <!-- Login -->
    <div *ngIf="!isLoggedIn()" routerLink="/login">
      <i class="fa-solid fa-user"></i>
      <span>Sign in</span>
    </div>

    <!-- Logout -->
    <div *ngIf="isLoggedIn()" (click)="logout()">
      <i class="fa-solid fa-user"></i>
      <span>Logout</span>
    </div>

    <!--Search-->
    <div (click)="toggleSearch()">

      <i class="fa-solid fa-magnifying-glass" routerLink="/shop"></i>

    </div>
    <!-- Wishlist -->
    <div routerLink="/wishlist" class="wishlist-icon">

      <i class="fa-regular fa-heart"></i>

      <span class="wishlist-badge" *ngIf="wishlistCount > 0">

        {{ wishlistCount }}

      </span>

      <span>Wishlist</span>

    </div>

    <!-- Cart -->
    <div (click)="toggleCart()">
      <i class="fa-solid fa-cart-shopping"></i>

      <span class="cart-badge">
        {{ cartCount }}
      </span>

      <span>Cart</span>
    </div>

  </div>

</nav>

<div class="search-drawer" [class.open]="isSearchOpen">

  <div class="search-box">

    <input type="text" placeholder="Search products...">

    <button>
      <div class="search-wrapper">

        <input *ngIf="isSearchOpen" type="text" placeholder="Search products..." [(ngModel)]="searchTerm"
          (keyup.enter)="searchProducts()">

        <i class="fa-solid fa-magnifying-glass" (click)="toggleSearch()">
        </i>

      </div>
    </button>

    <span class="close-search" (click)="toggleSearch()">
      ✕
    </span>

  </div>

</div>


<!-- ================= CART DRAWER ================= -->

<div class="cart-drawer" [class.open]="isCartOpen">

  <!-- Header -->

  <div class="drawer-header">

    <h3>

      Your Cart

    </h3>

    <button (click)="toggleCart()">

      ✕

    </button>

  </div>

  <!-- Body -->

  <div class="drawer-body">

    <!-- Empty -->

    <div class="empty-cart" *ngIf="cartItems.length === 0">

      <p>

        🛒 Your cart is empty

      </p>

    </div>

    <!-- Items -->

    <div class="cart-item" *ngFor="let item of cartItems">

      <img [src]="item.image" [alt]="item.name">

      <div class="item-details">

        <h4>

          {{ item.name }}

        </h4>

        <p class="price">

          ₹{{ item.price }}

        </p>

        <div class="quantity-controls">

          <button (click)="decrease(item.id)">

            −

          </button>

          <span>

            {{ item.quantity }}

          </span>

          <button (click)="increase(item.id)">

            +

          </button>

        </div>

      </div>

      <button class="remove-btn" (click)="removeItem(item.id)">

        ✕

      </button>

    </div>

  </div>

  <!-- Footer -->

  <div class="drawer-footer" *ngIf="cartItems.length > 0">

    <div class="total-row">

      <span>

        Total

      </span>

      <strong>

        ₹{{ total }}

      </strong>

    </div>

    <button class="checkout-btn" (click)="goToCheckout()">

      Proceed to Checkout

    </button>

  </div>

</div>