<div class="tracking-container" *ngIf="order">

    <h1>Track Your Order</h1>

    <div class="order-card">

        <div class="order-info">

            <div class="info-item">
                <span>Order ID</span>
                <strong>{{ order._id }}</strong>
            </div>

            <div class="info-item">
                <span>Customer</span>
                <strong>{{ order.customerName }}</strong>
            </div>

            <div class="info-item">
                <span>Payment</span>

                <strong [class.paid]="order.paymentStatus === 'Paid'"
                    [class.pending]="order.paymentStatus === 'Pending'">

                    {{ order.paymentStatus }}

                </strong>

            </div>

            <div class="info-item">
                <span>Status</span>

                <strong [class.processing]="order.orderStatus === 'Processing'"
                    [class.delivered]="order.orderStatus === 'Delivered'"
                    [class.cancelled]="order.orderStatus === 'Cancelled'">

                    {{ order.orderStatus }}

                </strong>

            </div>

            <div class="info-item">
                <span>Total</span>
                <strong>₹{{ order.total }}</strong>
            </div>

        </div>

    </div>
    <div class="delivery-card">

        <h3>Estimated Delivery</h3>

        <h2>{{ getEstimatedDelivery() }}</h2>

        <p *ngIf="order.orderStatus !== 'Delivered'">

            Your package is expected to arrive on or before this date.

        </p>

        <p *ngIf="order.orderStatus === 'Delivered'">

            ✅ Your order has been delivered.

        </p>

    </div>

    <div class="tracking-container">

        <div class="timeline-step" [class.completed]="true">

            <div class="circle">✓</div>

            <div class="content">
                <h3>Order Placed</h3>
                <small>{{ formatDate(order.createdAt!) }}</small>
            </div>

        </div>

        <div class="timeline-step" *ngFor="let step of steps" [class.completed]="isCompleted(step.status)"
            [class.current]="isCurrent(step.status)">

            <div class="circle">
                {{ step.icon }}
            </div>

            <div class="content">

                <h3>{{ step.status }}</h3>

                <small *ngIf="getTrackingDate(step.status); else pending">

                    {{ getTrackingDate(step.status) }}

                </small>

                <ng-template #pending>

                    <small>

                        {{ step.description }}

                    </small>

                </ng-template>

            </div>

        </div>

    </div>
    <div class="products-card">

        <h2>Ordered Items</h2>

        <div class="product-row" *ngFor="let item of order.items">

            <img [src]="item.image" [alt]="item.name" class="product-image">

            <div class="product-details">

                <h4>{{ item.name }}</h4>

                <p>Qty : {{ item.quantity }}</p>

                <p>₹{{ item.price }}</p>

            </div>

            <div class="subtotal">

                ₹{{ item.price * item.quantity }}

            </div>

        </div>



    </div>
    <div class="address-card">

        <h2>Delivery Address</h2>

        <p>
            <strong>{{ order.customerName }}</strong>
        </p>

        <p>{{ order.phone }}</p>

        <p>
            {{ order.address }},
            {{ order.city }},
            {{ order.state }}
        </p>

        <p>{{ order.pincode }}</p>

    </div>