<div class="admin-dashboard">

    <!-- Sidebar -->
    <aside class="sidebar">

        <div class="logo">
            <img src="assets/logo.png" alt="Triangle Sports">
            <h2>Triangle Sports</h2>
        </div>

        <ul class="menu">
            <li [class.active]="activeMenu==='dashboard'" (click)="activeMenu='dashboard'">

                <i class="fa-solid fa-chart-line"></i>

                Dashboard

            </li>

            <li [class.active]="activeMenu==='products'" (click)="activeMenu='products'">

                <i class="fa-solid fa-box"></i>

                Products

            </li>

            <li [class.active]="activeMenu==='categories'" (click)="activeMenu='categories'">

                <i class="fa-solid fa-layer-group"></i>

                Categories

            </li>



            <li [class.active]="activeMenu==='orders'" (click)="activeMenu='orders'">

                <i class="fa-solid fa-cart-shopping"></i>

                Orders

            </li>

            <li [class.active]="activeMenu==='customers'" (click)="activeMenu='customers'">

                <i class="fa-solid fa-users"></i>

                Customers

            </li>



            <li [class.active]="activeMenu==='settings'" (click)="activeMenu='settings'">

                <i class="fa-solid fa-gear"></i>

                Settings

            </li>
        </ul>

    </aside>

    <!-- Main -->

    <main class="main-content">
        <div *ngIf="activeMenu === 'dashboard'">

            <!-- Top Bar -->

            <header class="topbar">

                <div class="search">

                    <i class="fa-solid fa-magnifying-glass"></i>

                    <input type="text" placeholder="Search Products..." [(ngModel)]="searchTerm">

                </div>

                <div class="filters">

                    <select [(ngModel)]="selectedStock">

                        <option>All</option>

                        <option>In Stock</option>

                        <option>Out of Stock</option>

                        <option>Low Stock</option>

                    </select>

                    <select [(ngModel)]="selectedSort">

                        <option>Newest</option>

                        <option>Price Low → High</option>

                        <option>Price High → Low</option>

                        <option>Name A → Z</option>

                        <option>Stock Highest</option>

                    </select>

                </div>

                <button class="add-btn" (click)="openAddModal()">

                    + Add Product

                </button>

            </header>


            <div class="dashboard-header">

                <div>

                    <h1>👋 Welcome Back, Admin</h1>

                    <p>Here's what's happening in your store today.</p>

                </div>

                <div class="today-date">

                    {{ today | date:'EEEE, dd MMM yyyy' }}

                </div>

            </div>

            <!-- Cards -->

            <div class="stats">

                <div class="card purple">

                    <div class="card-icon">
                        <i class="fa-solid fa-box"></i>
                    </div>

                    <div class="card-info">

                        <h3>{{ dashboardData.totalProducts }}</h3>

                        <p>Total Products</p>

                        <small>Available in store</small>

                    </div>

                </div>

                <div class="card green">

                    <div class="card-icon">
                        <i class="fa-solid fa-indian-rupee-sign"></i>
                    </div>

                    <div class="card-info">

                        <h3>₹{{ dashboardData.totalRevenue | number }}</h3>

                        <p>Total Revenue</p>

                        <small>Lifetime earnings</small>

                    </div>

                </div>

                <div class="card blue">

                    <div class="card-icon">
                        <i class="fa-solid fa-users"></i>
                    </div>

                    <div class="card-info">

                        <h3>{{ dashboardData.totalUsers }}</h3>

                        <p>Total Customers</p>

                        <small>Registered users</small>

                    </div>

                </div>

                <div class="card orange">

                    <div class="card-icon">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>

                    <div class="card-info">

                        <h3>{{ dashboardData.totalOrders }}</h3>

                        <p>Total Orders</p>

                        <small>Orders received</small>

                    </div>

                </div>

                <div class="card red">

                    <div class="card-icon">
                        <i class="fa-solid fa-triangle-exclamation"></i>
                    </div>

                    <div class="card-info">

                        <h3>{{ dashboardData.lowStockProducts }}</h3>

                        <p>Low Stock</p>

                        <small>Need attention</small>

                    </div>

                </div>

            </div>
            <div class="chart-section">
                <div class="chart-card">

                    <div class="chart-header">

                        <h2>Sales Overview</h2>

                        <span>Last 6 Months</span>

                    </div>

                    <div class="chart-container">

                        <canvas #salesCanvas></canvas>

                    </div>

                </div>
                <div class="top-products-card">

                    <div class="card-header">

                        <h3>🔥 Top Selling Products</h3>

                    </div>

                    <div class="top-product">

                        <div>

                            <strong>Triangle T-Shirt</strong>

                            <p>254 Sales</p>

                        </div>

                        <span>🥇</span>

                    </div>

                    <div class="top-product">

                        <div>

                            <strong>Sports Shorts</strong>

                            <p>183 Sales</p>

                        </div>

                        <span>🥈</span>

                    </div>

                    <div class="top-product">

                        <div>

                            <strong>Cricket Jersey</strong>

                            <p>151 Sales</p>

                        </div>

                        <span>🥉</span>

                    </div>

                </div>
            </div>


            <div class="dashboard-grid">

                <!-- Low Stock -->
                <div class="recent-orders-card">

                    <div class="section-title">

                        <h3>🕒 Recent Orders</h3>

                        <span>{{ orders.length }}</span>

                    </div>

                    <div class="recent-order" *ngFor="let order of orders.slice(0,5)">

                        <div>

                            <h4>{{ order.customerName }}</h4>

                            <small>{{ order.createdAt | date:'dd MMM yyyy' }}</small>

                        </div>

                        <div class="order-right">

                            <strong>₹{{ order.total }}</strong>

                            <span class="status">

                                {{ order.orderStatus }}

                            </span>

                        </div>

                    </div>

                </div>
                <div class="low-stock-card">

                    <div class="section-title">

                        <h3>⚠ Low Stock Products</h3>

                        <span>{{ lowStockProducts.length }}</span>

                    </div>

                    <div class="low-stock-item" *ngFor="let product of lowStockProducts">

                        <div>

                            <h4 class="product-title">

                                {{ product.name }}

                            </h4>

                            <small>{{ product.category }}</small>

                        </div>

                        <span class="danger-badge">

                            {{ product.stock }} Left

                        </span>

                    </div>

                    <p *ngIf="lowStockProducts.length===0" class="empty">

                        🎉 All products have sufficient stock

                    </p>

                </div>

            </div>
        </div>
        <!-- Product Table -->
        <div *ngIf="activeMenu === 'products'">
            <div class="products-header">

                <div>

                    <h2>Products Management</h2>

                    <p>Manage your inventory and products</p>

                </div>

                <div class="products-count">

                    {{ products.length }} Products

                </div>

            </div>
            <div class="table-card">

                <table>

                    <thead>

                        <tr>

                            <th>Product</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Stock</th>
                            <th>Status</th>
                            <th>Actions</th>


                        </tr>

                    </thead>

                    <tbody>

                        <tr *ngFor="let product of filteredProducts">

                            <td>

                                <div class="product-info">
                                    <img class="product-image" [src]="product.image" [alt]="product.name">

                                    <div>

                                        <h4>{{ product.name }}</h4>

                                        <small>{{ product.sku || 'TS-101' }}</small>

                                    </div>

                                </div>

                            </td>

                            <td>{{product.category}}</td>

                            <td>₹{{product.price}}</td>

                            <td>

                                <span class="stock-badge" [class.in-stock]="product.stock > 10"
                                    [class.low-stock]="product.stock > 0 && product.stock <= 10"
                                    [class.out-stock]="product.stock == 0">

                                    {{ product.stock }}

                                </span>

                            </td>

                            <td>

                                <span class="status-badge" [class.active-status]="product.stock > 0"
                                    [class.inactive-status]="product.stock == 0">

                                    {{ product.stock > 0 ? 'Active' : 'Out of Stock' }}

                                </span>

                            </td>


                            <td>
                                <div class="action-buttons">
                                    <button class="edit" (click)="editProduct(product)">

                                        <i class="fa-solid fa-pen"></i>

                                    </button>

                                    <button class="delete" (click)="deleteProduct(product._id!)">

                                        <i class="fa-solid fa-trash"></i>

                                    </button>
                                </div>

                            </td>

                        </tr>

                    </tbody>

                </table>

            </div>

        </div>
        <!-- Add / Edit Product Modal -->



        <div class="pagination">

            <button class="page-btn" (click)="previousPage()" [disabled]="currentPage === 1">

                <i class="fa-solid fa-chevron-left"></i>

            </button>

            <button *ngFor="let page of pages" class="page-number" [class.active]="page === currentPage"
                (click)="goToPage(page)">

                {{ page }}

            </button>

            <button class="page-btn" (click)="nextPage()" [disabled]="currentPage === totalPages">

                <i class="fa-solid fa-chevron-right"></i>

            </button>

        </div>


        <div *ngIf="activeMenu === 'categories'">

            <div class="products-header">

                <div>
                    <h2>Categories</h2>
                    <p>Manage product categories</p>
                </div>

            </div>

            <div class="table-card">

                <h3>Coming Soon...</h3>

            </div>

        </div>

        <div *ngIf="activeMenu === 'orders'" class="table-card">

            <h2>Orders</h2>

            <table>

                <thead>

                    <tr>

                        <th>Order ID</th>

                        <th>Customer</th>

                        <th>Total</th>

                        <th>Payment</th>

                        <th>Status</th>
                        <th>Invoice</th>

                    </tr>

                </thead>

                <tbody>

                    <tr *ngFor="let order of orders">

                        <td>{{ order._id | slice:0:10 }}...</td>

                        <td class="customer-name">
                            {{ order.customerName }}
                        </td>

                        <td>₹{{ order.total }}</td>

                        <td>
                            <span class="payment-badge" [class.paid]="order.paymentStatus==='Paid'"
                                [class.pending]="order.paymentStatus==='Pending'">

                                {{ order.paymentStatus }}

                            </span>
                        </td>

                        <td>

                            <select class="status-select" [ngModel]="order.orderStatus"
                                (ngModelChange)="changeOrderStatus(order, $event)">

                                <option value="Processing">Processing</option>

                                <option value="Packed">Packed</option>

                                <option value="Shipped">Shipped</option>

                                <option value="Delivered">Delivered</option>

                                <option value="Cancelled">Cancelled</option>

                            </select>

                        </td>
                        <td>

                            <button class="invoice-btn" (click)="downloadInvoice(order)">

                                <i class="fa-solid fa-file-pdf"></i>

                                Invoice

                            </button>

                        </td>

                    </tr>

                </tbody>

            </table>

        </div>

        <div *ngIf="activeMenu === 'customers'">


            <div class="content">

                <div class="page-header">
                    <h2>Customers</h2>
                </div>

                <div class="search-bar">

                    <input type="text" placeholder="Search customer..." [(ngModel)]="customerSearch"
                        (input)="filterCustomers()">

                </div>

                <table class="customer-table">

                    <thead>

                        <tr>

                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Role</th>
                            <th>Joined</th>
                            <th>Change Role</th>
                            <th>Delete</th>

                        </tr>

                    </thead>

                    <tbody>

                        <tr *ngFor="let user of filteredCustomers">

                            <td>{{ user.name }}</td>

                            <td>{{ user.email }}</td>

                            <td>{{ user.phone || '-' }}</td>


                            <td>

                                <span class="role-badge" [class.admin]="user.role==='admin'"
                                    [class.user]="user.role==='user'">

                                    {{ user.role }}

                                </span>

                            </td>

                            <td>

                                {{ user.createdAt | date:'dd MMM yyyy' }}

                            </td>
                            <td>

                                <select [ngModel]="user.role" (ngModelChange)="changeRole(user,$event)">

                                    <option value="user">

                                        User

                                    </option>

                                    <option value="admin">

                                        Admin

                                    </option>

                                </select>
                            </td>

                            <td>


                                <button class="delete-btn" (click)="deleteCustomer(user._id)">

                                    <i class="fa-solid fa-trash"></i>

                                </button>

                            </td>

                        </tr>

                    </tbody>

                </table>

            </div>

        </div>
        <div *ngIf="activeMenu === 'settings'">

            <div class="products-header">

                <div>

                    <h2>Settings</h2>

                    <p>Manage your store settings</p>

                </div>

            </div>

            <div class="table-card">

                <div style="padding:30px;">

                    <h3>General Settings</h3>

                    <br>

                    <label>Store Name</label>

                    <input type="text" value="Triangle Sports" class="form-control">

                    <br><br>

                    <label>Support Email</label>

                    <input type="email" value="support@trianglesports.com" class="form-control">

                    <br><br>

                    <label>Phone Number</label>

                    <input type="text" value="+91 9990180409" class="form-control">

                    <br><br>

                    <button class="save-btn">

                        Save Settings

                    </button>

                </div>

            </div>

        </div>
        <div class="modal-overlay" *ngIf="showModal">

            <div class="modal" (click)="$event.stopPropagation()">

                <div class="modal-header">

                    <div>

                        <h2>{{ editing ? 'Edit Product' : 'Add Product' }}</h2>

                        <p>Add a new product to your store</p>

                    </div>

                    <button class="close-btn" (click)="closeModal()">
                        ✕
                    </button>

                </div>

                <div class="product-form">

                    <!-- LEFT -->

                    <div class="left-section">

                        <label>Product Image</label>





                        <div class="upload-box">

                            <input #fileInput type="file" hidden accept="image/*" (change)="onFileSelected($event)">

                            <div class="upload-area" (click)="fileInput.click()">

                                <i class="fa-solid fa-cloud-arrow-up upload-icon"></i>

                                <h3>Upload Product Image</h3>

                                <p>Drag & Drop or Click to Browse</p>

                                <small>PNG • JPG • WEBP (Max 5MB)</small>

                            </div>

                        </div>



                        <div class="preview-card" *ngIf="imagePreview">

                            <img [src]="imagePreview">

                            <button class="remove-image" (click)="imagePreview=''; selectedFile = null!">

                                ✕

                            </button>

                        </div>

                    </div>

                    <!-- RIGHT -->

                    <div class="right-section">

                        <div class="row">

                            <div>

                                <label>Product Name</label>

                                <input type="text" [(ngModel)]="newProduct.name">

                            </div>

                            <div>

                                <label>Price</label>

                                <input type="number" [(ngModel)]="newProduct.price">

                            </div>

                        </div>

                        <div class="row">

                            <div>

                                <label>Category</label>

                                <select [(ngModel)]="newProduct.category">

                                    <option value="">Select Category</option>

                                    <option>T-Shirts</option>

                                    <option>TrackPant</option>

                                    <option>Vest</option>

                                    <option>Shorts</option>

                                    <option>Tracksuits</option>

                                    <option>Sleeves</option>

                                    <option>Accessories</option>

                                </select>
                            </div>

                            <div>

                                <label>Stock</label>

                                <input type="number" [(ngModel)]="newProduct.stock">

                            </div>

                        </div>

                        <label>Description</label>

                        <textarea rows="5" [(ngModel)]="newProduct.description">
                </textarea>

                        <div class="row">

                            <div>

                                <label>Discount (%)</label>

                                <input type="number" placeholder="10">

                            </div>

                            <div>

                                <label>SKU</label>

                                <input type="text" value="Auto Generated" readonly>

                            </div>

                            <div>

                                <label>Fabric</label>

                                <input type="text" [(ngModel)]="newProduct.fabric">

                            </div>

                            <div>

                                <label>Type</label>

                                <input type="text" [(ngModel)]="newProduct.type">

                            </div>

                        </div>
                        <div class="row">

                            <div class="full-width">

                                <label>Available Colors</label>
                                <input type="text" placeholder="Black, White, Grey"
                                    [(ngModel)]="newProduct.availableColors">

                                <div class="color-list">

                                    <!-- chips -->

                                </div>

                            </div>

                        </div>

                        <div class="row">

                            <div class="switch-row">

                                <label>Show on Home Page</label>

                                <label class="switch">

                                    <input type="checkbox" [(ngModel)]="newProduct.showOnHome">

                                    <span class="slider"></span>

                                </label>

                            </div>

                        </div>



                    </div>

                </div>

                <div class="modal-footer">

                    <button class="cancel-btn" (click)="closeModal()">

                        Cancel

                    </button>

                    <button *ngIf="!editing" class="save-btn" (click)="addProduct()">

                        + Add Product

                    </button>

                    <button *ngIf="editing" class="save-btn" (click)="updateProduct()">

                        Update Product

                    </button>

                </div>

            </div>

        </div>
    </main>

</div>