<footer class="footer">

  <!-- Top Section -->
  <div class="footer-top">

    <div class="newsletter">

      <h2>
        Get our emails for info on new items, sales and more.
      </h2>

      <p>Subscribe Now</p>

      <div class="subscribe-box">

        <input type="email" placeholder="Enter your email address">

        <button>
          Subscribe
        </button>

      </div>

      <small>
        By subscribing you agree to our Terms & Conditions and Privacy Policy.
      </small>

    </div>

    <div class="help-section">

      <h2>Need help?</h2>

      <h3>+91 9990180409 </h3>

      <p>We are available 10:00 am – 6:00 pm</p>

      <div class="social-icons">

        <a href="https://facebook.com" target="_blank">

          <i class="fab fa-facebook-f"></i>

        </a>

        <a href="https://instagram.com" target="_blank">

          <i class="fab fa-instagram"></i>

        </a>

        <a href="https://youtube.com" target="_blank">

          <i class="fab fa-youtube"></i>

        </a>

        <a href="https://linkedin.com" target="_blank">

          <i class="fab fa-linkedin-in"></i>

        </a>


      </div>
      <p class="social-text">

        <strong>Triangle Sports Social</strong> · Keep In Touch

      </p>

    </div>

  </div>

  <!-- Bottom Section -->

  <div class="footer-bottom">

    <div class="footer-column">

      <h3>Triangle Sports</h3>

      <p>
        Premium sportswear and manufacturing solutions.
      </p>

      <p>Ghaziabad, Uttar Pradesh</p>

      <p>+91 9803061407</p>

    </div>

    <div class="footer-column">

      <h3>Information</h3>

      <a routerLink="/about">About Us</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Terms & Conditions</a>

    </div>

    <div class="footer-column">

      <h3>Customer Support</h3>

      <a href="#">Size Chart</a>
      <a href="#">FAQ</a>
      <a href="#">Contact Us</a>

    </div>

    <div class="footer-column">

      <h3>Account</h3>

      <a href="#">Dashboard</a>
      <a href="#">My Orders</a>
      <a href="#">Wishlist</a>

    </div>

  </div>

  <div class="copyright">

    <p>
      © 2026 Triangle Sports. All Rights Reserved.
    </p>

    <div class="payment-icons">
      <span>VISA</span>
      <span>MASTERCARD</span>
      <span>UPI</span>
    </div>

  </div>

</footer>